.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 30px 0px;
  margin: 30px 0px;
}

.recommended-friends__title {
  font-size: 18px;
  color: var(--gray-up);
}

.recommended-friends h6 {
  padding-bottom: 30px;
}

.recommended-friends span {
  margin: 100px 0px;
  text-align: center;
  display: block;
  color: var(--gray);
  font-size: 20px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 25px;
}

.open-chat__title {
  color: var(--gray-up);
}

.open-chat__header span {
  color: var(--gray-down);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: var(--main-border);
}

.open-post__members img {
  width: 25px;
  border-radius: 40%;
  margin-right: 7px;
}

.open-post__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  margin-bottom: 7px;
  color: var(--gray);
  font-size: 18px;
}

.open-post__members {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.open-post__members .divider {
  width: 2.5px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 7px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  border-radius: 10%;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7px 9px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

.more-suggestions__icons {
  margin-left: 20px;
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
