.alt-header {
  position: sticky;
  top: 26px;
  padding: var(--horizontal-space);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

.alt-header__title {
  font-size: 26px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column i {
  font-size: 20px;
}

.alt-header__column .fa-lg {
  font-size: 35px;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
